<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
<appSettings>
  <add key="SenderEmail" value="xxx@gmail.com"/>
  <add key="SenderPassword" value="xxxxx"/>
  <add key="SenderDisplayName" value="RAJESH"/>
  
  <add key="Host" value="smtp.gmail.com"/>
  <add key="PortNo" value="587"/>
</appSettings>
</configuration>